<html>
<body>
	<p>
		Someone added a comment to oe of your articles <em><%= @article.title %></em>
		Go read the comment: <%= link_to @article.title, article_url(@article, host: 'localhost:3000') %>
	</p>
</body>